# AWS CLI credentials example
# Copy this file to ~/.aws/credentials and fill with your real keys
# NEVER commit your real keys to GitHub

#aws - cli configuration
syntax: aws configure --profile profilename
step1: aws configure --profile aws-csharp
 then it will ask for below
[aws-csharp]
aws_access_key_id = YOUR_ACCESS_KEY_ID
aws_secret_access_key = YOUR_SECRET_ACCESS_KEY
region = ap-south-1

to test for proper configuration: 
syntax: aws sts get-caller-identity --profile profilename
aws sts get-caller-identity --profile aws-csharp